In [3]:
import pandas as pd 
df = pd.read_csv('Orders.csv', delimiter=';')

In [4]:
df.sample(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Segment,Postal Code,Product ID,Sales,Quantity,Discount,Profit
5264,5265,CA-2020-105165,07/09/2020,10/09/2020,First Class,SZ-20035,Home Office,77036,OFF-AR-10003179,21.864,3,0.2,3.5529
2272,2273,CA-2021-142944,06/03/2021,11/03/2021,Standard Class,JL-15850,Consumer,94122,FUR-FU-10000308,435.260,7,0.0,95.7572
3809,3810,CA-2021-113628,12/11/2021,19/11/2021,Standard Class,AH-10690,Corporate,33317,FUR-CH-10003298,523.920,5,0.2,-72.0390
929,930,CA-2023-144932,14/04/2023,17/04/2023,First Class,AB-10165,Consumer,43615,OFF-AR-10003560,14.592,3,0.2,2.5536
2439,2440,CA-2023-139948,17/07/2023,22/07/2023,Standard Class,SW-20455,Consumer,33614,FUR-FU-10002597,7.904,2,0.2,2.1736
3493,3494,CA-2023-142034,24/09/2023,28/09/2023,Standard Class,KB-16240,Corporate,56301,TEC-AC-10002305,72.000,4,0.0,12.9600
5346,5347,CA-2023-108539,21/03/2023,23/03/2023,Second Class,SC-20725,Consumer,90045,OFF-BI-10003981,10.896,3,0.2,3.9498
6174,6175,US-2020-106299,02/08/2020,08/08/2020,Standard Class,NZ-18565,Home Office,65807,OFF-ST-10002011,838.380,2,0.0,226.3626
2266,2267,CA-2023-149146,12/10/2023,12/10/2023,Same Day,SM-20320,Home Office,28110,OFF-PA-10003919,7.968,2,0.2,2.6892
9209,9210,CA-2023-142776,11/12/2023,14/12/2023,Second Class,RS-19870,Home Office,52601,OFF-EN-10003160,7.280,1,0.0,3.4944

In [5]:
df.dtypes

Row ID           int64
Order ID        object
Order Date      object
Ship Date       object
Ship Mode       object
Customer ID     object
Segment         object
Postal Code      int64
Product ID      object
Sales          float64
Quantity         int64
Discount       float64
Profit         float64
dtype: object

In [6]:
df['Sales'].sum()

2297200.8603000003

In [7]:
df['Profit'].sum()

286397.0217

In [8]:
len(df)

9994